/* ==============================
  Class Preview 
   ============================== */
.class-page-section {
    width: 100%;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    padding: 0;
    overflow: visible;

}

.left-side-tools {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    z-index: 2;
}

.floating-video-button {
    position: absolute;
    top: 34%;
    /* ปรับตามที่อยากให้ลอยใน section */
    left: 23%;
    /* กะให้ตรงคำว่า "อาวุธ" */
    transform: translate(-50%, -50%);
    z-index: 10;
}

/* .video-button-container {
    position: relative;
    left: 20%;

    top: 150px;
} */

.video-play-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.video-play-button:hover {
    transform: scale(1.1);
}


.class-visual-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    position: relative;

    padding-left: 8%;

    box-sizing: border-box;
}

.class-sidebar-wrapper {
    width: 165px;
    height: 650px;
    font-size: 18px;
    overflow-y: auto;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    pointer-events: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
    /* ไม่ให้ยุบเมื่อพื้นที่ไม่พอ */
    z-index: 2;
}


/* แบบใหม่ยังไม่ใช้ */
/* .bg-image-class {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: translate(-50%, -50%);
    z-index: 0;
    pointer-events: none;
} */

.bg-image-class {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    object-fit: contain;
    z-index: 0;
    pointer-events: none;
    border-radius: 0px;

}

.class-sidebar {
    height: calc(100% - 40px);
    overflow-y: auto;
    padding: 5px;
    white-space: nowrap;
}



.scroll-btn {
    background-color: #fff;
    border: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    cursor: pointer;
    margin: 0.3rem 0;
    border-radius: 0.5rem;
    transition: background 0.3s ease;
}

.scroll-btn:hover {
    background-color: #e8e5e0;
    color: white;
}

.class-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.class-menu li {
    display: flex;
    flex-direction: row;

    align-items: center;

    justify-content: flex-start;
    padding: 6px;
    text-align: left;
    color: white;
    cursor: pointer;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background 0.3s ease;
    gap: 2px;
    white-space: nowrap;

}

.class-menu li.active {
    background: rgba(255, 255, 255, 0.5);

}

.class-menu li:hover {
    transform: scale(1.05);
}

.menu-icon {
    width: 40px;
    height: 40px;
}

.class-label {
    color: white;
    font-weight: bold;
}

.scroll-btn {
    width: 100%;
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    border: none;
}

.class-sidebar::-webkit-scrollbar {
    display: none;

}


/*modal video*/
.video-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.video-modal-content {
    position: relative;
    width: 90%;
    max-width: 960px;
    aspect-ratio: 16 / 9;
    background-color: black;
    border-radius: 10px;
    /* overflow: hidden; */
}

/* ทำให้ iframe เต็มกล่องและ responsive */
.video-modal-content iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.close-video-modal {
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 24px;
    background: red;
    color: white;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
}





/*ดักเฉพาะปุ่มวีดีโอ*/



/* สำหรับ desktop ขนาดใหญ่ */
@media (min-width: 1700px) {
    .floating-video-button {
        top: 33.5% !important;
        left: 22% !important;
    }
}

@media (min-width: 1401px) and (max-width: 1699px) {
    .floating-video-button {
        top: 33.5% !important;
        left: 22% !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1400px) {
    .floating-video-button {
        top: 37.5% !important;
        left: 20% !important;
    }
}

@media only screen and (orientation: portrait) and (min-width: 768px) {
    .floating-video-button {
        top: 37.5% !important;
        left: 19% !important;
    }
}

/* @media (min-width: 1200px) and (max-width: 1400px) {
    .floating-video-button {
        top: 33.5% !important;
        left: 18% !important;
    }
} */

/* 
@media (min-width: 992px) and (max-width: 1199px) {
    .floating-video-button {
        top: 36% !important;
        left: 18% !important;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .floating-video-button {
        top: 36% !important;
        left: 18% !important;
    }
} */


@media (max-width: 768px) {
    .floating-video-button {
        top: 44% !important;
        left: 18% !important;
        width: 20px;
        height: 20px;
    }
}



/*END ดักเฉพาะปุ่มวีดีโอ*/




/*ดักclassหลัก*/
/*ดักขนาดจอบราวเซอ*/
@media only screen and (min-width: 768px) and (max-width: 1400px) {

    /* .video-play-button {
        position: absolute;
        top: 35%;
        left: 17%;
        width: 40px;
        height: 40px;
        z-index: 10;
        cursor: pointer;
        transition: transform 0.2s ease;
    } */

    .class-visual-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
        position: relative;
        /* overflow: hidden; */
        padding-left: 2%;
        /* ทดแทน absolute left: 7% */
        box-sizing: border-box;
    }

    .class-sidebar-wrapper {
        width: 150px;
        height: 480px;
        font-size: 13px;
    }

    .class-sidebar {
        height: calc(100% - 40px);
        overflow-y: auto;
        padding: 5px;
        white-space: nowrap;
    }


    .menu-icon {
        width: 32px;
        height: 32px;
    }

    .class-menu li {
        font-size: 14px;
        padding: 4px;
        gap: 4px;
        margin-bottom: 8px;
    }

    .scroll-btn {
        font-size: 1rem;
        padding: 8px;
    }

    .class-label {
        font-size: 14px;
    }




}


/*responsive บราวเซอ จุดบัค แนวตั้ง แก้*/
@media only screen and (orientation: portrait) and (min-width: 768px) {
    .class-visual-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
        position: relative;
        /* overflow: hidden; */
        padding-left: 1%;
        /* ทดแทน absolute left: 7% */
        box-sizing: border-box;
    }

    .class-sidebar-wrapper {
        width: 150px;
        height: 460px;
        font-size: 13px;
    }

    .class-sidebar {
        height: calc(100% - 40px);
        overflow-y: auto;
        padding: 5px;
        white-space: nowrap;
    }


    .menu-icon {
        width: 32px;
        height: 32px;
    }

    .class-menu li {
        font-size: 14px;
        padding: 4px;
        gap: 4px;
        margin-bottom: 8px;
    }

    .scroll-btn {
        font-size: 1rem;
        padding: 8px;
    }

    .class-label {
        font-size: 14px;
    }



}


@media (max-width: 768px) {

    /*ปุ่มวีดีโอ*/
    /* .video-play-button {
        position: absolute;
        top: 40%;
        left: 17%;
        width: 30px;
        height: 30px;
        z-index: 10;
        cursor: pointer;
        transition: transform 0.2s ease;
    } */

    .class-page-section {
        width: 100%;
        height: 100vh;
        position: relative;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        box-sizing: border-box;
        padding: 0;
        overflow: visible;
        /* เปลี่ยนจาก hidden เป็น visible */
    }

    .class-visual-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
        position: relative;
        /* overflow: hidden; */
        padding-left: 2%;
        /* ทดแทน absolute left: 7% */
        box-sizing: border-box;
    }

    .class-sidebar-wrapper {
        width: 50px;
        height: 200px;
        font-size: 12px;
        padding: 4px;
    }

    .class-sidebar {
        height: calc(100% - 20px);
        overflow-y: auto;
        padding: 5px;
        white-space: nowrap;
    }


    .menu-icon {
        width: 28px;
        height: 28px;
    }

    .class-menu li {
        font-size: 0;
        /* ซ่อน text */
        padding: 2px;
        margin-bottom: 4px;
        flex-direction: column;
        /* ไอคอนอยู่บน */
        justify-content: center;
        align-items: center;
    }

    .class-label {
        display: none;
        /* ซ่อนชื่ออาชีพ */
    }

    .scroll-btn {
        width: 100%;
        padding: 2px !important;
        text-align: center;
        background: rgba(0, 0, 0, 0.2);
        color: white;
        cursor: pointer;
        border: none;
        font-size: 10px;
    }
}



/*หน้าจอเล็ก แนวนอน*/
@media (max-width: 768px) and (orientation: landscape) {

    .class-visual-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
        position: relative;
        /* overflow: hidden; */
        padding-left: 0.5%;
        /* ทดแทน absolute left: 7% */
        box-sizing: border-box;
    }

    .class-sidebar-wrapper {
        width: 120px;
        height: 350px;
        font-size: 13px;
    }

    .class-label {
        display: block;
        /* ซ่อนชื่ออาชีพ */
    }

    .class-sidebar {
        height: calc(100% - 40px);
        overflow-y: auto;
        padding: 5px;
        white-space: nowrap;
    }


    .menu-icon {
        width: 32px;
        height: 32px;
    }

    .class-menu li {
        font-size: 14px;
        padding: 4px;
        gap: 4px;
        margin-bottom: 8px;
    }

    .scroll-btn {
        font-size: 1rem;
        padding: 8px;
    }

    .class-label {
        font-size: 14px;
    }

}



/*------------------------------------------------*/

/*แบบเก่าabsolute*/
/* .class-page-section {
    width: 100%;

    display: block;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    padding: 0px 0;
}


.class-title {
    margin-top: 10px;
}


.bg-image-class {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    object-fit: contain;

    z-index: 0;

    pointer-events: none;

    border-radius: 0px;


}



.class-visual-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}



.class-sidebar-wrapper {
    position: absolute;

    left: 7%;

    top: 50%;

    transform: translateY(-50%);

    width: 165px;

    height: 650px;

    font-size: 18px;
    overflow-y: auto;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    pointer-events: auto;
}


.class-content {
    position: relative;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 2;
    padding: 0 20px;

}

.class-sidebar {
    height: calc(100% - 60px);

    overflow-y: auto;

    padding: 5px;
    padding-bottom: 50px;
    white-space: nowrap;
}

.class-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.class-menu li {
    display: flex;
    flex-direction: row;

    align-items: center;

    justify-content: flex-start;
    padding: 6px;
    text-align: left;
    color: white;
    cursor: pointer;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background 0.3s ease;
    gap: 2px;
    white-space: nowrap;

}



.class-menu li.active {
    background: rgba(255, 255, 255, 0.5);

}


.menu-icon {
    width: 35px;

    height: 20px;

    margin-right: 10px;

    vertical-align: middle;

}

.scroll-btn {
    width: 100%;
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    border: none;
}

.scroll-btn:hover {
    background: rgba(255, 255, 255, 0.2);
}

.class-sidebar::-webkit-scrollbar {
    display: none;

}


.class-image img {

    height: auto !important;
    width: auto !important;
    margin-left: 20px;
}



.scroll-btn.down {
    position: absolute;

    bottom: 0;

    left: 0;

    width: 100%;

    text-align: center;
    background: rgba(0, 0, 0, 0.1);

    color: white;

    border: none;
    padding: 10px;
    z-index: 10;

    cursor: pointer;
}

.scroll-btn.down:hover {
    background: rgba(255, 255, 255, 0.2);

} */



/*หน้าจอเล๋็ก*/
/* @media only screen and (max-width: 767px) {
    .bg-image-class {
        object-fit: contain;
    }

    .class-sidebar {
        height: calc(100% - 40px);

        overflow-y: auto;

        padding-bottom: 0px;

    }

    .class-page-section {
        height: 40vh !important;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .class-sidebar-wrapper {
        left: 10px;
        height: 200px !important;
        width: 45px !important;
    }

    .class-menu li {
        font-size: 13px !important;

        padding: 6px !important;
        margin-bottom: 5px;
    }

    .class-label {
        display: none;
    }

    .menu-icon {
        width: 24px !important;

        height: 24px !important;
        margin-right: 8px;
    }

    .scroll-btn {
        width: 100%;
        padding: 2px !important;
        text-align: center;
        background: rgba(0, 0, 0, 0.2);
        color: white;
        cursor: pointer;
        border: none;
        font-size: 10px;
    }
} */

/*หน้าจอเล็ก แนวนอน*/
/* @media (max-width: 768px) and (orientation: landscape) {
    .bg-image-class {
        object-fit: contain;
    }

    .class-sidebar-wrapper {
        height: 200px !important;
        width: 50px !important;
        left: 9%;
    }

    .class-sidebar {
        height: calc(100% - 40px);

        overflow-y: auto;

        padding-bottom: 0px;

    }

    .class-page-section {
        height: 100vh !important;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .class-menu li {
        font-size: 13px !important;

        padding: 6px !important;
        margin-bottom: 5px;
    }

    .class-label {
        display: none;
    }

    .menu-icon {
        width: 24px !important;

        height: 24px !important;
        margin-right: 8px;
    }

    .scroll-btn {
        width: 100%;
        padding: 2px !important;
        text-align: center;
        background: rgba(0, 0, 0, 0.2);
        color: white;
        cursor: pointer;
        border: none;
        font-size: 10px;
    }

} */

/*จุดที่จะยืด บราวเซอ*/
/* @media only screen and (min-width: 768px) and (max-width: 1400px) {
    .bg-image-class {
        object-fit: contain;
    }

    .class-sidebar-wrapper {
        height: 400px !important;
        width: 120px !important;
        left: 20px;
    }

    .class-menu li {
        font-size: 13px !important;

        padding: 6px !important;
        white-space: nowrap;
    }

    .menu-icon {
        width: 24px !important;

        height: 24px !important;
        margin-right: 8px;
    }

    .scroll-btn {
        width: 100%;
        padding: 2px !important;
        text-align: center;
        background: rgba(0, 0, 0, 0.2);
        color: white;
        cursor: pointer;
        border: none;
    }

} */

/*responsive บราวเซอ จุดบัค แนวตั้ง แก้*/
/* @media only screen and (orientation: portrait) and (min-width: 768px) {

    .bg-image-class {
        object-fit: contain;
    }

    .class-sidebar-wrapper {
        height: 400px !important;
        width: 120px !important;
        left: 20px;
    }

    .class-menu li {
        font-size: 12px !important;
     
        padding: 6px !important;
    }

    .menu-icon {
        width: 24px !important;
      
        height: 24px !important;
        margin-right: 8px;
    }

    .scroll-btn {
        width: 100%;
        padding: 2px !important;
        text-align: center;
        background: rgba(0, 0, 0, 0.2);
        color: white;
        cursor: pointer;
        border: none;
    }


} */