    <!--Footer -->
    <footer class="page-section bg-gray-lighter footer pb-100 pb-sm-50">
        <div class="container">

            <!-- Social Links -->
            <div class="footer-social-links">
                <a href="#" title="Facebook" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                    <span class="sr-only">Facebook profile</span>
                </a>
                <a href="#" title="YouTube" target="_blank">
                    <i class="fab fa-youtube"></i>
                    <span class="sr-only">YouTube profile</span>
                </a>
                <a href="#" title="TikTok" target="_blank">
                    <i class="fab fa-tiktok"></i>
                    <span class="sr-only">TikTok profile</span>
                </a>
                <a href="#" title="X (Twitter)" target="_blank">
                    <i class="fab fa-twitter"></i>
                    <span class="sr-only">X (Twitter) profile</span>
                </a>

                <a href="#" title="Instagram" target="_blank">
                    <i class="fab fa-instagram"></i>
                    <span class="sr-only">Instagram profile</span>
                </a>
            </div>

            <!-- End Social Links -->

            <!-- Footer Text -->
            <div class="footer-text">

                <!-- Copyright -->
                <div class="footer-copy">
                    <a href="index.html">© กระบี่เย้ยยุทธจักร</a>.
                </div>
                <!-- End Copyright -->

    </footer>

    <!--End Footer-->
