<<<<<<< Updated upstream
body {
    font-family: 'IBM Plex Sans Thai', sans-serif !important;
    background: url('/swordsman-online/images/background-pic.jpg') no-repeat center center;
}
=======
/* ใช้ flexbox ทำให้ sidebar และ content เต็มหน้าจอ */
        .wrapper {
            display: flex;
            height: 100vh;
            width: 100%;
            overflow: hidden;
        }
>>>>>>> Stashed changes

/* กำหนดความกว้างสูงสุดให้กับ wrapper และจัดกลาง */
.wrapper {
    max-width: 1304px;
    /* ยังคงเว้นขอบซ้าย-ขวา */
    min-height: 100vh;
    /* ปรับความสูงให้พอดีจอ */
    margin: 0 auto;
    /* จัดให้อยู่ตรงกลาง */
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* จัดเรียงเนื้อหาในแนวตั้ง */
}


/* สไตล์พื้นฐานสำหรับส่วน content */
.content {
    /* background-color: white; */
    /* พื้นหลังสีขาว */
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 75vh;
    /* ให้ content สูงเต็มหน้าจอ */
    display: flex;
    flex-direction: column;
    /* จัดเนื้อหาให้เป็นแนวตั้ง */
}


<<<<<<< Updated upstream
/* สไตล์สำหรับส่วนหัวของ main content */
.main-content h2 {
    font-size: 24px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

/* สร้างกรอบครอบตารางให้คงที่ */
.table-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    overflow-x: auto;
    white-space: nowrap;
}

/* เพิ่มเลเยอร์เบลอสำหรับพื้นหลังของตาราง */
.table-container {
    position: relative;
    /* ใช้ position relative เพื่อจัดการเลเยอร์ */
    padding: 10px;
    overflow-x: auto;
    white-space: nowrap;
}

/* เพิ่มเลเยอร์เบลอพื้นหลัง */
.table-container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    /* สีขาวใส */
    backdrop-filter: blur(8px);
    /* เพิ่มการเบลอ */
    border-radius: 10px;
    /* ปรับขอบให้โค้งมน */
}

/* ปรับปรุงตาราง */
.table {
    width: 100%;
    background-color: transparent;
    /* ทำให้พื้นหลังของตารางโปร่งแสง */

    table-layout: auto;
    position: relative;
    /* ทำให้ตารางแสดงอยู่ข้างหน้าพื้นหลัง */
    z-index: 1;
    /* ให้ตารางอยู่ข้างหน้า */
}

/* ปรับให้องค์ประกอบในเซลล์ตารางอยู่ตรงกลาง */
.table th,
.table td {
    background-color: transparent;
    /* ทำให้พื้นหลังของตารางโปร่งแสง */

    vertical-align: middle;
    text-align: center;
}

/* ปรับขนาดรูปภาพของข่าว */
.news-thumbnail {
    width: 80px;
    height: auto;
    object-fit: cover;
}
=======
        .custom-logo {
            width: 200px;
            /* หรือขนาดที่ต้องการ */
            height: auto;
            /* คงอัตราส่วนเดิม */
        }

        
>>>>>>> Stashed changes
