body {
    font-family: 'IBM Plex Sans Thai', sans-serif !important;
    background: url('../../images/background-pic.jpg') no-repeat center center;
}

/* กำหนดความกว้างสูงสุดให้กับ wrapper และจัดกลาง */
.wrapper {
    max-width: 1304px;
    /* ยังคงเว้นขอบซ้าย-ขวา */
    min-height: 100vh;
    /* ปรับความสูงให้พอดีจอ */
    margin: 0 auto;
    /* จัดให้อยู่ตรงกลาง */

    display: flex;
    flex-direction: column;
    /* จัดเรียงเนื้อหาในแนวตั้ง */
}


/* สไตล์พื้นฐานสำหรับส่วน content */
.content {
    /* background-color: white; */
    /* พื้นหลังสีขาว */
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 70vh;
    /* ให้ content สูงเต็มหน้าจอ */
    display: flex;
    flex-direction: column;
    /* จัดเนื้อหาให้เป็นแนวตั้ง */
}


/* สไตล์สำหรับส่วนหัวของ main content */
.main-content h2 {
    font-size: 24px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

/* สร้างกรอบครอบตารางให้คงที่ */
.table-container {
    width: 100%;
    max-width: 100%;
    /* ความกว้างเต็มที่ */
    padding: 10px;
    overflow-x: auto;
    /* เลื่อนในแนวนอนถ้าจำเป็น */
    white-space: nowrap;
    /* หลีกเลี่ยงการตัดข้อความในแถว */
    background-color: rgba(255, 255, 255, 0.5);
    /* พื้นหลังโปร่งใส */
    backdrop-filter: blur(8px);
    /* เบลอพื้นหลัง */
    border-radius: 10px;
    /* มุมโค้งมน */
    min-height: 70vh;
    /* ความสูงขั้นต่ำ */
}

/* ปรับปรุงตาราง */
.table {
    width: 100%;
    background-color: transparent;
    position: relative;
    z-index: 1;
}


.table th,
.table td {
    background-color: transparent;
    vertical-align: middle;
    text-align: center;
}


.news-thumbnail {
    width: 80px;
    height: auto;
    object-fit: cover;
}

#pagination {
    /* position: fixed; */
    /* ทำให้มันอยู่ที่ตำแหน่งที่กำหนด */
    bottom: 0;
    /* ให้มันอยู่ที่ด้านล่างของหน้าจอ */
    left: 0;
    /* ให้มันเริ่มจากทางซ้ายสุด */
    right: 0;

    /* เบลอพื้นหลัง */
    border-radius: 5px;
    /* มุมโค้งมน */
    padding: 10px;
    /* เพิ่ม padding */
    /* z-index: 1000; */
    /* ทำให้ปุ่ม Pagination อยู่เหนือเนื้อหา */
}


main-content-create {
    display: none;
}


/* .ql-align-center {
    text-align: center !important;
}

.ql-editor {
    font-family: 'Arial', sans-serif;
}

.ql-editor span[style*="color"] {
    color: inherit !important;
} */