body {
    font-family: 'IBM Plex Sans Thai', sans-serif !important;
}

/* กำหนดความกว้างสูงสุดให้กับ wrapper และจัดกลาง */
.wrapper {
    max-width: 1304px;
    /* ยังคงเว้นขอบซ้าย-ขวา */

    min-height: 100vh;
    /* ปรับความสูงให้พอดีจอ */
    margin: 0 auto;
    /* จัดให้อยู่ตรงกลาง */
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* จัดเรียงเนื้อหาในแนวตั้ง */
}


/* สไตล์พื้นฐานสำหรับส่วน content */
.content {
    background-color: white;
    /* พื้นหลังสีขาว */
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 95vh;
    /* ให้ content สูงเต็มหน้าจอ */
    display: flex;
    flex-direction: column;
    /* จัดเนื้อหาให้เป็นแนวตั้ง */
}


/* สไตล์สำหรับส่วนหัวของ main content */
.main-content h2 {
    font-size: 24px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

/* สร้างกรอบครอบตารางให้คงที่ */
.table-container {
    width: 100%;
    /* ให้ความกว้างเต็มพื้นที่ */
    max-width: 100%;
    /* border: 2px solid #ddd; /* กรอบรอบตาราง */
    /* border-radius: 5px; */
    padding: 10px;
    background-color: white;
    /* ให้พื้นหลังเป็นสีขาว */
    overflow-x: auto;
    /* ให้สามารถเลื่อนเฉพาะตาราง */
    white-space: nowrap;
}

/* ปรับปรุงตาราง */
.table {
    width: 100%;
    table-layout: auto;
}

/* ปรับให้องค์ประกอบในเซลล์ตารางอยู่ตรงกลาง */
.table th,
.table td {
    vertical-align: middle;
    text-align: center;
}

/* ปรับขนาดรูปภาพของข่าว */
.news-thumbnail {
    width: 80px;
    height: auto;
    object-fit: cover;
}